<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>顾客编辑</title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
</head>
<body style="margin:20px 20px 20px 20px">
 
<form class="layui-form">
  <input type="text" hidden="hidden" name="id" id="id" th:value="${id}" />
  <div class="layui-form-item">
    <label class="layui-form-label">姓名</label>
    <div class="layui-input-block">
      <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入姓名" class="layui-input" />
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">联系电话</label>
    <div class="layui-input-block">
      <input type="text" name="phone" lay-verify="required" autocomplete="off" placeholder="请输入电话" class="layui-input" />
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">联系地址</label>
    <div class="layui-input-block">
      <input type="text" name="address" lay-verify="required" autocomplete="off" placeholder="请输入地址" class="layui-input" />
    </div>
  </div>
  
  <div class="layui-form-item">
     <label class="layui-form-label">推荐人</label>
     <div class="layui-input-inline">
       <select name="referee" th:lay-verify="${(customers.size != 0)? 'required' : 'false'}" lay-search="">
         <option value="">直接选择或搜索选择</option>
         <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name}"></option>
       </select>
     </div>
  </div>
  
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>

<script th:src="@{/layui/layui.js}"></script>
<script>
layui.use('form', function(){
    var $ = layui.$;
    var form = layui.form;
    var index = parent.layer.getFrameIndex(window.name);
    $.ajax({
        url: '/customer/'+$("#id").val(),
        type: "get",  
        dataType: "json",
        success:function(result){
          form.load(result.data.item);
          form.render();
        }
    });
    form.on('submit(demo1)', function(data){
        $.ajax({
            url: '/customer/'+data.field.id,
            type: "put",  
            dataType: "json",
            data: data.field,
            success:function(msg){
                parent.layer.msg('修改成功!');
                parent.reloadList();
                parent.layer.close(index);
            }
        });
        return false;
    });
});
</script> 
</body>
</html>